
body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
    color:  #130f40;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: 4rem;
}
.weekly{
    padding: 2.5%;
    margin-top :3%;
    box-shadow: 5px 5px 10px black;
    border-radius: 5% 5% 5% 5%/5% 5% 5% 5%;
}
.daliy{
    padding: 5%;
    width: 80vw;
    margin :3%;
    border-radius: 5% 5% 5% 5%/5% 5% 5% 5%;
    box-shadow: 5px 5px 10px black;
}   
    
    .daily_time{
        font-family: 'Teko', sans-serif;
        margin: 0% 2%;
    }
    .daily_inform{
        font-family: 'Teko', sans-serif;
        font-size: 3rem;
        display: flex;
    }
    .daily_date{
        font-family: 'Teko', sans-serif;
        font-size: 3rem;
    }

        .daily_menu_name{
            border: 2px solid #b2bec3 ;
        }
        .daily__menu_ingredients{
            border: 2px solid #b2bec3 
        }
        .daily_person{
            border: 2px solid #b2bec3
        }
        .daily_checkbox{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 5%;
        }
            .daily_checkbox_btn>button  {
                border: 3px solid rebeccapurple;
                padding: 0px 10px;
                font-size: larger;
            }

    